body {
  margin: 0;

  font-family: "Gilroy", "OpenSans", sans-serif;
  font-size: 15px;
  font-weight: 100;
  line-height: 30px;
  text-transform: uppercase;
  color: #000000;

  background-color: #ffffff;

}

@font-face {
    font-family: "Gilroy";
        src: url("web/gilroyextrabold.woff2") format("woff2"),
        url("web/gilroyextrabold.woff") format("woff");
    font-weight: bold;
    font-style: normal;
}

@font-face {
    font-family: "Gilroy";
        src: url("web/gilroylight.woff2") format("woff2"),
             url("web/gilroylight.woff") format("woff");
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: "OpenSans";
    src: url("web/opensans.woff2") format("woff2"),
    url("web/opensans.woff") format("woff");
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: "OpenSans";
    src: url("web/opensanslight.woff2") format("woff2"),
        url("web/opensanslight.woff") format("woff");
    font-weight: lighter;
    font-style: normal;
}


a {
  text-decoration: none;

}

.appointment-item input {
  opacity: 0.3;
font-family: "OpenSans",sans-serif;
font-size: 15px;
color: #000000;
letter-spacing: 0.15px;
line-height: 30px;
}



.main-header {
  background-color: #f7e296;
}

.navigation1,
.navigation2,
.navigation3 {
  list-style: none;
}

.navigation1 a,
.navigation2 a,
.navigation3 a {
  color: #000000;
}

.navigation1 a {
  font-family: "OpenSans",sans-serif;
  font-size: 15px;
  color: #000000;
  letter-spacing: 0.15px;
  line-height: 30px;
}

.navigation2 a {
  font-family: "Gilroy";
  font-size: 18px;
  font-weight: bold;

  color: #000000;
  letter-spacing: 3.6px;
  line-height: 24px;
}

.navigation3 a {
font-family: "OpenSans",sans-serif;
font-size: 15px;
color: #000000;
letter-spacing: 0.15px;
line-height: 36px;
}



.container {
  font-family: "OpenSans",sans-serif;
  font-size: 15px;
  color: #464646;
  letter-spacing: 0;
  line-height: 30px;
}

.container h2 {
  font-family: "Gilroy";
font-size: 47px;
color: #000000;
letter-spacing: 0.21px;
line-height: 48px;
}

.container h3 {
  font-family: "Gilroy";
font-size: 16px;
color: #000000;
letter-spacing: 0;
line-height: 40px;
}

.container b {
  font-family: "Gilroy";
font-size: 18px;
color: #000000;
letter-spacing: 3.5px;
line-height: 24px;
}

.main-footer  {
  font-family: "OpenSans",sans-serif;
font-size: 15px;
letter-spacing: 0;
line-height: 30px;

background: #464646;
color: #ffffff;
}

.footer-navigation,
.footer-navigation1 {
  list-style: none;
}

.footer-navigation a,
.footer-navigation1 a {
  color: #ffffff;
}



.footer-social {
  list-style: none;
  opacity: 0.7;
}

.footer-navigation {
  font-family: "Gilroy";
font-size: 18px;
letter-spacing: 3.6px;
line-height: 24px;
}

.footer-navigation1 {
  opacity: 0.7;
letter-spacing: 0.15px;
line-height: 36px;
}

.inner-page {
  color: #000000;
  }

.navigation a {
  color: #000000;
}

.navigation a,
.navigation a {
  text-decoration: none;
}

.navigation ul {
  list-style: none;
}
.breadcrumbs {
  list-style: none;
}

.breadcrumbs a {
  color: #000000;
}

.breadcrumbs-current {
  color: #aba9a7;
}

.filter {
  font-family: "OpenSans",sans-serif;
  font-size: 14px;
  color: #000000;
  letter-spacing: 0.14px;
  line-height: 39px;
}

.filter legend {
  font-family: "Gilroy";
font-size: 18px;
color: #000000;
letter-spacing: 0.18px;
line-height: 24px;
}

.filter fieldset {
  border: none;
}

.filter ul {
  list-style: none;
}
.catalog-list {
  list-style: none;
}

.catalog-item {
  font-family: "Gilroy";
font-size: 18px;
color: #000000;
letter-spacing: 0.18px;
line-height: 24px;

background: rgba(0,0,0,0.00);
}

.catalog-item span {
  font-family: "Gilroy";
  font-size: 16px;
  color: #464646;
  letter-spacing: 0.16px;
  text-align: right;
  line-height: 24px;
}

.button {
font-family: "Gilroy";
font-size: 16px;
color: #000000;
letter-spacing: 3.5px;
line-height: 24px;
vertical-align: middle;
text-transform: uppercase;
border: none;
}
