
@font-face {
    font-family: "Gilroy";
        src: url("../fonts/gilroyextrabold.woff2") format("woff2"),
             url("../fonts/gilroyextrabold.woff") format("woff");
    font-weight: bold;
    font-style: normal;
}

@font-face {
    font-family: "Gilroy";
        src: url("../fonts/gilroylight.woff2") format("woff2"),
             url("../fonts/gilroylight.woff") format("woff");
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: "OpenSans";
    src: url("../fonts/opensans.woff2") format("woff2"),
    url("../fonts/opensans.woff") format("woff");
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: "OpenSans";
    src: url("../fonts/opensanslight.woff2") format("woff2"),
        url("../fonts/opensanslight.woff") format("woff");
    font-weight: lighter;
    font-style: normal;
}

body {
  margin: 0;

  font-family: "Gilroy", "OpenSans", sans-serif;
  font-size: 15px;
  font-weight: 100;
  line-height: 30px;
  color: #000000;

  background-color: #ffffff;

}

a {
  text-decoration: none;
  color: #000000;
  }

.header {
  position:relative;
  width: 1160px;
  margin: 40px auto;
  background: #f7e296;
}

.logo-header {
  position: absolute;
  top: -20px;
  left: 55px;
}

.search::before {
  position: absolute;
  top: 60px;
  left: 63px;
  display: inline-block;
  content: "";
  width: 16px;
  height: 16px;
  background: url("../img/search.svg") 50% 50% no-repeat;
}

.search-form input {
  position: absolute;
  top: 50px;
  left: 91px;
  opacity: 0.3;
  font-family: "OpenSans",sans-serif;
  font-size: 15px;
  letter-spacing: 0.15px;
  line-height: 30px;
  border: 0px;
  background: transparent;
}

.header-user {
  list-style: none;
  font-family: "OpenSans",sans-serif;
  font-size: 15px;
  letter-spacing: 0.15px;
  line-height: 30px;
}

.header-user a {
  display: inline-block;
  margin-top: 50px;
}

.header-login {
  margin-left: 517px;
}

.header-compare {
  margin-left: 200px;
}

.header-cart {
  margin-left: 27px;
}

.user::before {
  display: inline-block;
  content: "";
  margin-right: 10px;
}

.header-login::before {
  margin-right: 13px;
  width: 13px;
  height: 12px;
  background: url("../img/user.svg") 50% 50% no-repeat;
}

.header-compare::before {
  width: 10px;
  height: 10px;
  background: url("../img/compare.svg") 50% 50% no-repeat;
}

.header-cart::before {
  width: 12px;
  height: 12px;
  background: url("../img/cart.svg") 50% 50% no-repeat;
}

.header-info {
  list-style: none;
  font-family: "Gilroy",sans-serif;
  font-size: 18px;
  font-weight: bold;
  letter-spacing: 3.6px;
  line-height: 24px;
}

.header-info li {
  display: inline-block;
  margin-top: 30px;
}

.catalog {
  margin-left: 20px;
}

.header-delivery {
  margin-left: 290px;
}

.header-warrantiy {
  margin-left: 37px;
}

.header-contacts {
  margin-left: 96px;
}


.links-item {
  list-style: none;
  font-family: "OpenSans",sans-serif;
  font-size: 15px;
  letter-spacing: 0.15px;
  line-height: 36px;
}

.main-header {
  color: #000000
}

.breadcrumbs {
  list-style: none;
  opacity: 0.3;
  font-family: "OpenSans",sans-serif;
  font-size: 14px;
  letter-spacing: 0.14px;
  line-height: 24px;
}

.catalog-list {
  list-style: none;
}

.price {
  font-family: "Gilroy",sans-serif;
  font-size: 18px;
  font-weight: bold;
  letter-spacing: 0.18px;
  line-height: 24px;
}

span {
  font-family: "Gilroy",sans-serif;
  font-size: 16px;
  color: #464646;
  letter-spacing: 0.16px;
  text-align: right;
  line-height: 24px;
}

.main-info {
  font-family: "OpenSans",sans-serif;
  font-size: 15px;
  color: #464646;
  letter-spacing: 0;
  line-height: 30px;
  width: 1160px;
  margin: auto;
  display: flex;
  justify-content: space-between;
  align-items: stretch;
}

.about {
  flex-basis: auto;
  width: 466px;
    }

.descrip {
  flex-basis: auto;
  width: 560px;
  }

.main-info h2 {
  font-family: "Gilroy",sans-serif;
  font-size: 47px;
  color: #000000;
  letter-spacing: 0.21px;
  line-height: 48px;
}

.about p {
  margin-bottom: 35px;
}

.list {
  font-family: "Gilroy",sans-serif;
  font-size: 16px;
  font-weight: bold;
  color: #000000;
  letter-spacing: 0;
  line-height: 40px;
  margin-top: 45px;
  margin-bottom: 45px;
}

.main-info b{
  font-family: "Gilroy",sans-serif;
  font-size: 18px;
  color: #000000;
  letter-spacing: 3.5px;
  line-height: 24px;
}

.maps img {
  margin-top: 30px;
  margin-left: -40px;
  margin-bottom: 45px;
}

.footer {
  font-family: "OpenSans",sans-serif;
  font-size: 15px;
  letter-spacing: 0;
  line-height: 30px;
  color: #FFFFFF;
  background: #464646;
  width: auto;
}

.footer-content {
  max-width: 1160px;
  margin: auto;
}

.footer a {
  color: #ffffff;
}

.logo-footer {
  margin-top: 50px;
}

.footer-user {
  list-style: none;
  opacity: 0.7;
  letter-spacing: 0.15px;
  line-height: 36px;
  display: flex;
  justify-content: flex-end;
  align-items: flex-start;
  margin-top: -50px;
}

.footer-login {
  margin-right: 65px;
  }

.footer-compare {
  margin-right: 65px;
}

.footer-login::before {
  width: 13px;
  height: 12px;
  background: url("../img/user.svg") 50% 50% no-repeat;
  }

.userf::before {
    display: inline-block;
    content: "";
    margin-right: 10px;
    background: fill=yellow;
  }

.footer-compare::before {
  width: 10px;
  height: 10px;
  background: url("../img/compare.svg") 50% 50% no-repeat;
}

.footer-cart::before {
  width: 12px;
  height: 12px;
  background: url("../img/cart.svg") 50% 50% no-repeat;
  }

.footer-info {
  display: flex;
  justify-content: space-between;
  margin: auto;
}

.footer-info ul {
  display: flex;
  list-style: none;
  font-family: "Gilroy",sans-serif;
  font-size: 18px;
  font-weight: bold;
  letter-spacing: 3.6px;
  line-height: 24px;
}

.footer-warranty {
  margin: 0 20px;
}

.footer-social {
  list-style: none;
  display: flex;
  justify-content: center;
}
